# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Outros exemplos comuns
*.log
*.env
.DS_Store

# VSCode
.vscode

# Databases and migrations
src/migrations/
*.db
*.faiss
*.pkl

# Dataset
bert_classifier.bin